extends template
block header
    script(src="/js/front_create.js")
block content
    div.expanded_task#expanded_task_id
        div.expanded_task_title
            h1#expanded_task_title(contenteditable='true')="New Task Title"
        div.expanded_task_content
            p#expanded_task_content(contenteditable='true')="New Task Content"
        div.expanded_buttons
            div.expanded_submit
                button#expanded_submit="Create"
            div.expanded_back
                button#expanded_back="Back"
            p="Click anywhere to edit"